{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}
    <h1>Flask MVC</h1>
    <p>This is a boileplate flask application which follows the MVC pattern for structuring the project.</p>
  <body>

  {% block content %}
  <div class="scrolling-wrapper">

  <div class="card"><h2>

    {% for movie in movieSlider %}
    <img class="gallery-img" 
      src="{{movie.poster}}"
      onerror="this.src='//i.imgur.com/DykmKYk.jpg';this.onerror='';"
      alt="symbol image" 
      title="{{movie.title}}">
    {% endfor %}
    
    </h2></div>

  </div>

  <div class="gallery-grid">

    {% for movie in movieList %}
    <figure class="gallery-frame">
      <img class="gallery-img" 
      src="{{movie.poster}}" 
      onerror="this.src='//i.imgur.com/DykmKYk.jpg';this.onerror='';"
      alt="symbol image" 
      title="{{movie.title}}">
      <figcaption>{{movie.title}}</figcaption>
    </figure>
    {% endfor %}

  </div><!-- end:gallery-grid -->
  {% endblock %}

  </body>

<!-- {% endblock %} -->
